<section class="o-section  t-section  ">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Awards
                        </h2>
                        <div class="o-content__body  o-section__description">
                            Happy times!
                        </div>
                    </div>
                </header><!-- /o-section__header -->

                <div class="o-section__content  t-section__content  ">

                    <div class="o-grid">

                        <div class="o-grid__col-md-4  o-grid__col-sm-6">
                            <div class="o-content">
                                <hr class="c-deco-line  t-primary-color-line" />
                                <div class="o-content__body">
                                    <h3>Unicorn Developer Award 2016</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, justo eget porttitor mauris sit amet felis.
                                        Neque id cursus faucibus.
                                    </p>
                                </div>
                            </div><!-- /o-content -->
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-md-4  o-grid__col-sm-6">
                            <div class="o-content">
                                <hr class="c-deco-line  t-primary-color-line" />
                                <div class="o-content__body">
                                    <h3>Website of the Year Award 2015</h3>
                                    <p>
                                        Praesent dapibus dolor sit amet, justo eget porttitor mauris sit amet.
                                        Neque id cursus faucibus.
                                    </p>
                                </div>
                            </div><!-- /o-content -->
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-md-4  o-grid__col-sm-6">
                            <div class="o-content">
                                <hr class="c-deco-line  t-primary-color-line" />
                                <div class="o-content__body">
                                    <h3>1st Place at CSShacker Conference</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, justo eget porttitor mauris sit amet felis.
                                        Neque id cursus faucibus.
                                    </p>
                                </div>
                            </div><!-- /o-content -->
                        </div><!-- /o-grid__col -->

                    </div><!-- /o-grid -->

                </div><!-- /o-section__content -->

            </div><!-- /o-section__container -->
        </div><!-- /o-container -->

    </section><!-- /o-section -->