<section class="o-section  t-section ">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Clients
                        </h2>
                        <div class="o-content__body  o-section__description">
                            Happy people.
                        </div>
                    </div>
                </header><!-- /o-section__header -->

                <div class="o-section__content  t-section__content  ">

                    <ul class="c-clients  o-content">
                        <li>
                            <a href="http://example.com" target="_blank">
                                <img src="assets/images/clients/bbc.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://example.com" target="_blank">
                                <img src="assets/images/clients/disney.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://example.com" target="_blank">
                                <img src="assets/images/clients/github.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://example.com" target="_blank">
                                <img src="assets/images/clients/google.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://example.com" target="_blank">
                                <img src="assets/images/clients/html5.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://example.com" target="_blank">
                                <img src="assets/images/clients/kickstarter.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://example.com" target="_blank">
                                <img src="assets/images/clients/youtube.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://example.com" target="_blank">
                                <img src="assets/images/clients/vimeo.png" alt="">
                            </a>
                        </li>
                    </ul><!-- /o-float-box -->

                </div><!-- /o-section__content -->

            </div><!-- /o-section__container -->
        </div><!-- /o-container -->

    </section><!-- /o-section -->
