<section class="o-section  t-section  ">

    <div class="o-section__header-bg  t-section__header"></div>
    <div class="o-section__content-bg  t-section__content"></div>

    <div class="o-container">
        <div class="o-section__container">

            <header class="o-section__header   t-section__header">
                <div class="o-content">
                    <h2 class="o-section__heading">
                        Educacion
                    </h2>
                    <div class="o-content__body  o-section__description">
                        Lazy isn&#39;t in my vocabulary.
                    </div>
                </div>
            </header>
            <!-- /o-section__header -->

            <div class="o-section__content  t-section__content  u-pt-0">

                <div class="o-content">
                    <div class="a-education-timeline  c-timeline  t-border-color  o-section__full-top-space">
                        <div class="c-timeline__end  t-border-color"></div>

                        <div class="c-timeline__item">
                            <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                            <div class="o-content">
                                <div class="o-grid">
                                    <div class="o-grid__col-md-5">
                                        <div class="c-work__timeframe">
                                            2016 &ndash; 2017
                                        </div>
                                        <h3 class="c-work__heading">
                                            Corporación Del Oriente
                                        </h3>
                                        <h4 class="c-work__title">
                                            Especialización Gerencia De Proyectos.
                                        </h4>
                                    </div>

                                </div>
                                <!-- /o-grid -->
                            </div>
                            <!-- /o-content -->
                        </div>
                        <!-- /c-timeline__item -->

                        <div class="c-timeline__item">
                            <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                            <div class="o-content">
                                <div class="o-grid">
                                    <div class="o-grid__col-md-5">
                                        <div class="c-work__timeframe">
                                            2012 &ndash; 2013
                                        </div>
                                        <h3 class="c-work__heading">
                                            Servicio Nacional de Aprendiza
                                        </h3>
                                        <h4 class="c-work__title">
                                            Especialización Tecnológica en gestión de base de datos
                                        </h4>

                                    </div>

                                </div>
                                <!-- /o-grid -->
                            </div>
                            <!-- /o-content -->
                        </div>
                        <!-- /c-timeline__item -->

                        <div class="c-timeline__item">
                            <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                            <div class="o-content">
                                <div class="o-grid">
                                    <div class="o-grid__col-md-5">
                                        <div class="c-work__timeframe">
                                            2010 &ndash; 2012
                                        </div>
                                        <h3 class="c-work__heading">
                                            Universidad Manuela Beltran
                                        </h3>
                                        <h4 class="c-work__title">
                                            Ingeniero de sistemas
                                        </h4>

                                    </div>

                                </div>
                                <!-- /o-grid -->
                            </div>
                            <!-- /o-content -->
                        </div>

                        <div class="c-timeline__item">
                            <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                            <div class="o-content">
                                <div class="o-grid">
                                    <div class="o-grid__col-md-5">
                                        <div class="c-work__timeframe">
                                            2006 &ndash; 2009
                                        </div>
                                        <h3 class="c-work__heading">
                                            Unidades Tecnologicas De Santander

                                        </h3>
                                        <h4 class="c-work__title">
                                            Tecnologo en diseño y administración de sistemas.

                                        </h4>

                                    </div>

                                </div>
                                <!-- /o-grid -->
                            </div>
                            <!-- /o-content -->
                        </div>
                        <!-- /c-timeline__item -->

                    </div>
                    <!-- /c-timeline -->
                </div>
                <!-- /o-content -->

            </div>
            <!-- /o-section__content -->

        </div>
        <!-- /o-section__container -->
    </div>
    <!-- /o-container -->

</section>
<!-- /o-section -->