<section class="o-section  t-section  ">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Experience
                        </h2>
                        <div class="o-content__body  o-section__description">
                            Yes. I&#39;ve been around.
                        </div>
                    </div>
                </header><!-- /o-section__header -->

                <div class="o-section__content  t-section__content  u-pb-0">

                    <div class="a-experience-timeline  c-timeline  t-border-color">

                        <div class="c-timeline__item">
                            <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                            <div class="o-content">
                                <div class="o-grid">
                                    <div class="o-grid__col-md-5">
                                        <div class="c-work__timeframe">
                                            2015 &ndash; Present
                                        </div>
                                        <h3 class="c-work__heading">
                                            Unicorn Incubator Inc.
                                        </h3>
                                        <h4 class="c-work__title">
                                            Senior Interface Designer
                                        </h4>
                                        <div class="c-work__location">
                                            Portland, OR
                                        </div>
                                    </div>
                                    <div class="o-grid__col-md-7">
                                        <p>
                                            Consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
                                            aaliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id,
                                            mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra,
                                            tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam
                                            mollis. Ut justo. Suspendisse potenti.
                                        </p>
                                    </div>
                                </div><!-- /o-grid -->
                            </div><!-- /o-content -->
                        </div><!-- /c-timeline__item -->

                        <div class="c-timeline__item">
                            <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                            <div class="o-content">
                                <div class="o-grid">
                                    <div class="o-grid__col-md-5">
                                        <div class="c-work__timeframe">
                                            2013 &ndash; 2015
                                        </div>
                                        <h3 class="c-work__heading">
                                            California Design Bureau
                                        </h3>
                                        <h4 class="c-work__title">
                                            Creative Director
                                        </h4>
                                        <div class="c-work__location">
                                            Cupertino, CA
                                        </div>
                                    </div>
                                    <div class="o-grid__col-md-7">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
                                            hendrerit. Pellentesque aaliquet nibh nec urna. In nisi neque,
                                            aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula
                                            sollicitudin laoreet viverra, tortor libero sodales leo, eget
                                            blandit nunc tortor eu nibh. Nullam mollis.
                                        </p>
                                    </div>
                                </div><!-- /o-grid -->
                            </div><!-- /o-content -->
                        </div><!-- /c-timeline__item -->

                        <div class="c-timeline__item">
                            <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                            <div class="o-content">
                                <div class="o-grid">
                                    <div class="o-grid__col-md-5">
                                        <div class="c-work__timeframe">
                                            2010 &ndash; 2013
                                        </div>
                                        <h3 class="c-work__heading">
                                            Dreamland Creative
                                        </h3>
                                        <h4 class="c-work__title">
                                            Front-end Designer
                                        </h4>
                                        <div class="c-work__location">
                                            New York, NY
                                        </div>
                                    </div>
                                    <div class="o-grid__col-md-7">
                                        <p>
                                            Fusce lacinia arcu et nulla. Nulla vitae mauris non felis mollis
                                            faucibus. Phasellus hendrerit. Pellentesque aaliquet nibh nec urna.
                                            In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed
                                            pretium, ligula sollicitudin laoreet viverra, tortor libero sodales
                                            leo, eget blandit nunc tortor eu nibh.
                                        </p>
                                    </div>
                                </div><!-- /o-grid -->
                            </div><!-- /o-content -->
                        </div><!-- /c-timeline__item -->

                    </div><!-- /c-timeline -->

                </div><!-- /o-section__content -->

            </div><!-- /o-section__container -->
        </div><!-- /o-container -->

    </section><!-- /o-section -->