<section class="o-section  t-section">

    <div class="o-section__header-bg  t-section__header"></div>
    <div class="o-section__content-bg  t-section__content"></div>

    <div class="o-container">
        <div class="o-section__container">

            <header class="o-section__header   t-section__header">
                <div class="o-content">
                    <h2 class="o-section__heading">
                        Experiencia
                    </h2>
                    <div class="o-content__body  o-section__description">
                        Es una forma de conocimiento o habilidad derivados de la observación, de la participación y de la vivencia de un suceso.
                    </div>
                </div>
            </header>
            <!-- /o-section__header -->

            <div class="o-section__content  t-section__content  u-pb-0">

                <div class="a-experience-timeline  c-timeline  t-border-color">

                    <div class="c-timeline__item">
                        <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                        <div class="o-content">
                            <div class="o-grid">
                                <div class="o-grid__col-md-5">
                                    <div class="c-work__timeframe">
                                        2019 &ndash; Present
                                    </div>
                                    <h3 class="c-work__heading">

                                        Duxlink Health

                                    </h3>
                                    <h4 class="c-work__title">
                                        Senior Software Developer
                                    </h4>
                                    <div class="c-work__location">
                                        14201 W Sunrise Blvd Suite 102 Sunrise, FL 33324
                                    </div>
                                </div>
                                <div class="o-grid__col-md-7 text-justify">
                                    <p>
                                        <li>Mantenimientos y creacion de modulos del framework openEmr.</li>
                                        <li>Uso de tecnologías backend y frontend como php y angularjs.</li>
                                        <li>Manejo de formatos y servicios según Ley de Transparencia y Responsabilidad de Seguro Médico (Health Insurance Portability and Accountability Act, HIPAA)</li>
                                    </p>
                                </div>
                            </div>
                            <!-- /o-grid -->
                        </div>
                        <!-- /o-content -->
                    </div>
                    <!-- /c-timeline__item -->

                    <div class="c-timeline__item">
                        <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                        <div class="o-content">
                            <div class="o-grid">
                                <div class="o-grid__col-md-5">
                                    <div class="c-work__timeframe">
                                        2018
                                    </div>
                                    <h3 class="c-work__heading">
                                        Consultor Administrativo Ecopetrol
                                    </h3>
                                    <h4 class="c-work__title">
                                        Consultor Administrativo
                                    </h4>
                                    <div class="c-work__location">
                                        Piedecuesta, Santander
                                    </div>
                                </div>
                                <div class="o-grid__col-md-7 text-justify">
                                    <p>
                                        <strong>Liderando la arquitectura de desarrollo de una aplicación web para el manejo de información bioestratigráfica de foraminíferos del Caribe Colombiano.</strong>

                                        <li>sistematización de muestras desde el uso de captación de información y migración de las misma.</li>
                                        <li>Manejo de nuevas tecnologías en el mercado internacional como Angular.</li>
                                        <li>Creación de Microservicios que permiten la comunicación a futuro con diferentes aplicativos.</li>

                                    </p>
                                </div>
                            </div>
                            <!-- /o-grid -->
                        </div>
                        <!-- /o-content -->
                    </div>
                    <!-- /c-timeline__item -->

                    <div class="c-timeline__item">
                        <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                        <div class="o-content">
                            <div class="o-grid">
                                <div class="o-grid__col-md-5">
                                    <div class="c-work__timeframe">
                                        2017 &ndash; 2018
                                    </div>
                                    <h3 class="c-work__heading">
                                        Cuemby S.A.S
                                    </h3>
                                    <h4 class="c-work__title">
                                        Engineer js
                                    </h4>
                                    <div class="c-work__location">
                                        Delray Beach Florida, United States

                                    </div>
                                </div>
                                <div class="o-grid__col-md-7 text-justify">
                                    <p>
                                        <strong>Manejo de SCRUM y TeamWork con herramientas que facilitan el uso de manejo de proyectos.</strong>

                                        <li>DB S.M.E remote work.</li>
                                        <li>Training Scrum por parte de la empresa Envista (u.s.a)</li>
                                        <li>Lider de equipo en la nueva herramienta corporativa basada en ReactJs</li>

                                    </p>
                                </div>
                            </div>
                            <!-- /o-grid -->
                        </div>
                        <!-- /o-content -->
                    </div>
                    <!-- /c-timeline__item -->

                    <!-- /c-timeline__item -->

                    <div class="c-timeline__item">
                        <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                        <div class="o-content">
                            <div class="o-grid">
                                <div class="o-grid__col-md-5">
                                    <div class="c-work__timeframe">
                                        2016
                                    </div>
                                    <h3 class="c-work__heading">
                                        Departamento para la Prosperidad Social
                                    </h3>
                                    <h4 class="c-work__title">
                                        Contratista Tecnológico
                                    </h4>
                                    <div class="c-work__location">
                                        Santander

                                    </div>
                                </div>
                                <div class="o-grid__col-md-7 text-justify">
                                    <p>
                                        <strong>Supervisión y apoyo tecnológico en la región de santander con el sector público desempeñando las siguientes actividades</strong>

                                        <li>Dirección y coordinación de personal.</li>
                                        <li>Análisis y Desarrollo de sistemas de información.</li>
                                        <li>Administración de proyectos sociales</li>
                                        <li>Informes, actas de seguimiento</li>
                                        <li>cruces de información entre bases de datos de entidades públicas.</li>
                                        <li>Gestión de equipos de cómputo (servidores, modems, router, wifi, dtr)</li>

                                    </p>
                                </div>
                            </div>
                            <!-- /o-grid -->
                        </div>
                        <!-- /o-content -->
                    </div>
                    <!-- /c-timeline__item -->


                    <!-- /c-timeline__item -->

                    <div class="c-timeline__item">
                        <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                        <div class="o-content">
                            <div class="o-grid">
                                <div class="o-grid__col-md-5">
                                    <div class="c-work__timeframe">
                                        2014 &ndash; 2016
                                    </div>
                                    <h3 class="c-work__heading">
                                        Distribuidora Rayco S.A.S
                                    </h3>
                                    <h4 class="c-work__title">
                                        Desarrollador Web
                                    </h4>
                                    <div class="c-work__location">
                                        Floridablanca, Santander

                                    </div>
                                </div>
                                <div class="o-grid__col-md-7 text-justify">
                                    <p>
                                        <strong>líder del desarrollo del sistema de gestión documental, manejando los sistemas de información para la empresa.</strong>
                                        <li>Análisis y Desarrollo de sistema en gestión de documental a nivel nacional.</li>
                                        <li>Planificación e implementación de aplicaciones web institucionales.</li>
                                        <li>Manejo de web services xml y rest con SAP.</li>
                                        <li>correcciones y actualizaciones a las aplicaciones web de la empresa.</li>
                                        <li>Documentación de proyectos y código desarrollado.</li>

                                    </p>
                                </div>
                            </div>
                            <!-- /o-grid -->
                        </div>
                        <!-- /o-content -->
                    </div>
                    <!-- /c-timeline__item -->

                    <!-- /c-timeline__item -->

                    <div class="c-timeline__item">
                        <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                        <div class="o-content">
                            <div class="o-grid">
                                <div class="o-grid__col-md-5">
                                    <div class="c-work__timeframe">
                                        2010 &ndash; 2014
                                    </div>
                                    <h3 class="c-work__heading">
                                        Industrias Partmo S.A
                                    </h3>
                                    <h4 class="c-work__title">
                                        Programador de Sistemas
                                    </h4>
                                    <div class="c-work__location">
                                        Giron, Santander

                                    </div>
                                </div>
                                <div class="o-grid__col-md-7 text-justify">
                                    <p>
                                        <strong>Investigación y desarrollo de proyectos en centroamérica y sudamérica participando en sistemas de información híbridos en que permiten la comunicación entre diferentes dispositivos hardware.</strong>


                                        <li>Elaboración de proyectos web en ámbitos nacionales e internacionales.</li>
                                        <li>Analista de negocio y arquitecto de software.</li>
                                        <li>Atender demanda en los mercados de sudamérica así como la apertura de nuevos mercados internacionales con el sitio web empresarial.</li>
                                        <li>Migraciones entre base de datos sql server y mysql .</li>
                                        <li>mantenimiento de bases de datos, mysql, sql server.</li>
                                        <li>manejo de reportes crystal report.</li>
                                        <li>configuración de servidores web (intranet).</li>
                                        <li>Manejo de sistemas de información erp y mrp.</li>

                                    </p>
                                </div>
                            </div>
                            <!-- /o-grid -->
                        </div>
                        <!-- /o-content -->
                    </div>
                    <!-- /c-timeline__item -->

                </div>
                <!-- /c-timeline -->

            </div>
            <!-- /o-section__content -->

        </div>
        <!-- /o-section__container -->
    </div>
    <!-- /o-container -->

</section>
<!-- /o-section -->