<section class="o-section  t-section">

    <div class="c-header">
        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>



        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header   t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Experticia
                        </h2>
                        <div class="o-content__body  o-section__description">
                            Es una cualidad que suma experiencia y habilidad en un área determinada.
                        </div>
                    </div>
                </header>
                <!-- /o-section__header -->

                <div class="o-section__content  t-section__content  ">

                    <div class="o-grid">

                        <div class="o-grid__col-sm-6">
                            <div class="o-media  o-media--block  o-content">
                                <div class="o-media__figure">
                                    <div class="c-number  t-primary-color">
                                        01
                                    </div>
                                </div>
                                <div class="o-media__body  o-content__body">
                                    <h3>Back-end Api </h3>
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <!-- /o-media o-content -->
                        </div>
                        <!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-media  o-media--block  o-content">
                                <div class="o-media__figure">
                                    <div class="c-number  t-primary-color">
                                        02
                                    </div>
                                </div>
                                <div class="o-media__body  o-content__body">
                                    <h3>Front-end Design</h3>
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <!-- /o-media o-content -->
                        </div>
                        <!-- /o-grid__col -->


                        <div class="o-grid__col-sm-6">
                            <div class="o-media  o-media--block  o-content">
                                <div class="o-media__figure">
                                    <div class="c-number  t-primary-color">
                                        03
                                    </div>
                                </div>
                                <div class="o-media__body  o-content__body">
                                    <h3>Arquitectura de Software </h3>
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <!-- /o-media o-content -->
                        </div>
                        <!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-media  o-media--block  o-content">
                                <div class="o-media__figure">
                                    <div class="c-number  t-primary-color">
                                        04
                                    </div>
                                </div>
                                <div class="o-media__body  o-content__body">
                                    <h3>Bases de Datos</h3>
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <!-- /o-media o-content -->
                        </div>
                        <!-- /o-grid__col -->


                        <!-- /o-grid__col -->

                    </div>
                    <!-- /o-grid -->

                </div>
                <!-- /o-section__content -->

            </div>
            <!-- /o-section__container -->
        </div>
        <!-- /o-container -->

    </div>
    <!-- /c-header -->

</section>
<!-- /o-section -->