<section class="o-section  t-section">
    <div class="c-header">
        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Intro
                        </h2>
                        <div class="o-content__body o-section__description">
                            ¿Quien soy?
                        </div>
                    </div>
                </header>
                <!-- /o-section__header -->

                <div class="o-section__content  t-section__content text-justify ">

                    <div class="o-content">
                        <div class="c-intro">
                            <div class="o-content__body text-justify">

                                <p>
                                    Profesional que se desempeña en el área de la informática tales como ingeniería del Software, programación y desarrollo de aplicaciones, automatización y control, telecomunicaciones, diseño de redes, bases de datos donde se aplica las nuevas tecnologías
                                    en planeación, ejecución y control de proyectos y auditoría de sistemas.
                                </p>



                                <p>
                                    Además, puede formar empresa y dirigir proyectos y estudios relacionados con la Ingeniería del software y hardware, desempeñarse como docente y liderar proyectos de investigación e Investigar y solucionar problemas al interior de las organizaciones a
                                    través de la aplicación de los métodos relacionados con la gerencia de proyectos
                                </p>


                                <p>
                                    Dirección equipos técnicos en desarrollo proyectos de TI aplicada mayor cantidad de conocimientos y técnicas computacionales como herramientas de gestión para optimizar el uso de los recursos que llegan efectivamente objetivos. en los cuales se adoptan
                                    enfoques modernos de administración en atención a las necesidades del sector real.
                                </p>

                                <p>

                                    Persona íntegra y competente en el manejo de sistemas de información; que crece como ser humano con actitud positiva ante la vida, en quien se integran conocimientos, habilidades y valores que le permiten comprender su papel en la sociedad; y que actúa
                                    como ciudadano con responsabilidad social y ética. Es un profesional que conoce la fundamentación científica y tecnológica de su campo y que es competente para: Diseñar, implementar y gestionar sistemas de información
                                    de complejidad media, de acuerdo a los requerimientos de las organizaciones software. Realizar el mantenimiento preventivo y correctivo de equipos de cómputo a nivel de hardware y redes de área local basadas en las
                                    normas para garantizar los más altos estándares en el desarrollo de las funciones administrativas
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /o-section__content -->

            </div>
            <!-- /o-section__container -->
        </div>
        <!-- /o-container -->

    </div>
    <!-- /c-header -->

</section>
<!-- /o-section -->