<section class="o-section  t-section  ">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Profiles
                        </h2>
                        <div class="o-content__body  o-section__description">
                            Busy as usual.
                        </div>
                    </div>
                </header><!-- /o-section__header -->

                <div class="o-section__content  t-section__content  ">

                    <div class="o-grid">

                        <div class="o-grid__col-xl-4  o-grid__col-sm-6">
                            <div class="o-content">
                                <a href="http://themeforest.net/user/ruventhemes/portfolio" target="_blank"
                                    class="t-link-container">
                                    <div class="o-media  o-media--block">
                                        <div class="o-media__figure">
                                            <div class="c-profile__icon">
                                                <i class="fa  fa-lg  fa-envira"></i>
                                            </div>
                                        </div>
                                        <div class="o-media__body  o-content__body">
                                            <h3 class="t-link-container__item">
                                                Themeforest
                                            </h3>
                                            <p>
                                                An overview of the themes and templates that I sell.
                                            </p>
                                        </div>
                                    </div><!-- /o-media -->
                                </a><!-- /t-link-container -->
                            </div><!-- /o-content -->
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-xl-4  o-grid__col-sm-6">
                            <div class="o-content">
                                <a href="https://github.com/hatra-e/" target="_blank" class="t-link-container">
                                    <div class="o-media  o-media--block">
                                        <div class="o-media__figure">
                                            <div class="c-profile__icon">
                                                <i class="fa  fa-lg  fa-github-alt"></i>
                                            </div>
                                        </div>
                                        <div class="o-media__body  o-content__body">
                                            <h3 class="t-link-container__item">
                                                GitHub
                                            </h3>
                                            <p>
                                                All my open source projects for you analyze.
                                            </p>
                                        </div>
                                    </div><!-- /o-media -->
                                </a><!-- /t-link-container -->
                            </div><!-- /o-content -->
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-xl-4  o-grid__col-sm-6">
                            <div class="o-content">
                                <a href="http://wordpress.com" target="_blank" class="t-link-container">
                                    <div class="o-media  o-media--block">
                                        <div class="o-media__figure">
                                            <div class="c-profile__icon">
                                                <i class="fa  fa-lg  fa-medium"></i>
                                            </div>
                                        </div>
                                        <div class="o-media__body  o-content__body">
                                            <h3 class="t-link-container__item">
                                                Medium
                                            </h3>
                                            <p>
                                                Yes. I'm also a blogger and here you find my writings.
                                            </p>
                                        </div>
                                    </div><!-- /o-media -->
                                </a><!-- /t-link-container -->
                            </div><!-- /o-content -->
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-xl-4  o-grid__col-sm-6">
                            <div class="o-content">
                                <a href="https://dribbble.com" target="_blank" class="t-link-container">
                                    <div class="o-media  o-media--block">
                                        <div class="o-media__figure">
                                            <div class="c-profile__icon">
                                                <i class="fa  fa-lg  fa-dribbble"></i>
                                            </div>
                                        </div>
                                        <div class="o-media__body  o-content__body">
                                            <h3 class="t-link-container__item">
                                                Dribbble
                                            </h3>
                                            <p>
                                                Whenever a design is finalized, it lands right here.
                                            </p>
                                        </div>
                                    </div><!-- /o-media -->
                                </a><!-- /t-link-container -->
                            </div><!-- /o-content -->
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-xl-4  o-grid__col-sm-6">
                            <div class="o-content">
                                <a href="https://www.flickr.com" target="_blank" class="t-link-container">
                                    <div class="o-media  o-media--block">
                                        <div class="o-media__figure">
                                            <div class="c-profile__icon">
                                                <i class="fa  fa-lg  fa-flickr"></i>
                                            </div>
                                        </div>
                                        <div class="o-media__body  o-content__body">
                                            <h3 class="t-link-container__item">
                                                Flickr
                                            </h3>
                                            <p>
                                                A selection of photos I shot throughout the years.
                                            </p>
                                        </div>
                                    </div><!-- /o-media -->
                                </a><!-- /t-link-container -->
                            </div><!-- /o-content -->
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-xl-4  o-grid__col-sm-6">
                            <div class="o-content">
                                <a href="http://www.deviantart.com" target="_blank" class="t-link-container">
                                    <div class="o-media  o-media--block">
                                        <div class="o-media__figure">
                                            <div class="c-profile__icon">
                                                <i class="fa  fa-lg  fa-deviantart"></i>
                                            </div>
                                        </div>
                                        <div class="o-media__body  o-content__body">
                                            <h3 class="t-link-container__item">
                                                DeviantArt
                                            </h3>
                                            <p>
                                                A place for my sketches and drawings.
                                            </p>
                                        </div>
                                    </div><!-- /o-media -->
                                </a><!-- /t-link-container -->
                            </div><!-- /o-content -->
                        </div><!-- /o-grid__col -->

                    </div><!-- /o-grid -->

                </div><!-- /o-section__content -->

            </div><!-- /o-section__container -->
        </div><!-- /o-container -->

    </section><!-- /o-section -->