<section class="o-section  t-section">
    <div class="c-header">
        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Skills
                        </h2>
                        <div class="o-content__body  o-section__description">
                            Progress bars, anyone?
                        </div>
                    </div>
                </header>
                <!-- /o-section__header -->

                <div class="o-section__content  t-section__content  ">

                    <div class="o-grid">

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            80<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>Laravel-Lumen</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="80"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            75<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>Express</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="75"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            70<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>Git</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="70"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            65<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>Cloud Computing</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="65"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            90<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>Angular</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="90"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            50<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>React</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="50"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            85<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>PageSpeed Insights</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="85"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            95<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>SEO</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="95"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /o-grid__col -->

                    </div>
                    <!-- /o-grid -->

                </div>
                <!-- /o-section__content -->

            </div>
            <!-- /o-section__container -->
        </div>
        <!-- /o-container -->

    </div>
    <!-- /c-header -->

</section>
<!-- /o-section -->