<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>mafiashare.net - FREE THEMES & TEMPLATES</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE]>
<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 8]>
<link href="css/ie8.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/cufon/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon/open-sans-latin.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>

<body class="hideall">

<!-- Facebook code -->
<div id="fb-root"></div>
<script type="text/javascript">(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0]; 
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> 

<!-- end Facebook code --> 
<!-- start topbar -->
<div class="topbar">
  <div class="box"> 
    <!-- start topnav -->
    <div class="topnav">
      <ul class="lava">
        <li><a href="account-page.html" class="active">My Account</a></li>
        <li><a href="wishlist-page.html">Wish List ( <strong>0</strong> )</a></li>
        <li class="info"><a><span>Information</span></a>
          <ul>
            <li><a href="about-page.html">About Us</a></li>
            <li><a href="page-full-elements.html">Delivery Information</a></li>
            <li><a href="page-full-elements.html">Privacy Policy</a></li>
            <li><a href="page-full-elements.html">Terms and Conditions</a></li>
            <li><a href="contact-page.html" title="">Contact Us</a></li>
          </ul>
        </li>
        <li><a href="contact-page.html">Support</a></li>
        <li><a href="#">Buy Theme!</a></li>
      </ul>
    </div>
    <!-- end topnav --> 
    <!-- topbar right -->
    <div class="tb-right">
      <div class="language">
        <ul>
          <li class="active">EN <span><img src="images/flag_en.png" width="16" height="11" alt="en" /></span></li>
          <li><a href="#" title="">IT</a> <span><img src="images/flag_it.png" width="16" height="11" alt="en" /></span></li>
          <li><a href="#" title="">FR</a> <span><img src="images/flag_fr.png" width="16" height="11" alt="en" /></span></li>
        </ul>
      </div>
      <div class="currency">
        <ul>
          <li><strong>Currency:</strong></li>
          <li>
            <select id="default-usage-select">
              <option value="01">USD</option>
              <option value="02">EUR</option>
              <option value="03">GBP</option>
            </select>
          </li>
        </ul>
      </div>
    </div>
    <!-- topbar right --> 
  </div>
</div>
<!-- end topbar --> 
<!-- start header -->
<div id="header">
  <div class="box"> 
    <!-- logo -->
    <div id="logo"> <a href="index.html" title="Linear"><img src="images/logo.png" width="166" height="30" alt="Linear" /></a> </div>
    <!-- logo --> 
    <!-- start header right -->
    <div id="header-right"> 
      <!-- cart -->
      <div class="cart">
        <h6><a href="cart-page.html">Shopping Cart</a></h6>
        <div class="cart-box"><span class="item"><a>2 Item(s) - $165.98</a></span>
          <div id="cart-container">
            <div id="cart-content">
              <ul>
                <li>
                  <div class="cont">
                    <div class="imgb"><a href="product-page.html" class="fadeable"><img src="images/prodotto-3-3.jpg" width="54" height="54" alt="offer" /></a></div>
                    <div class="txtb gap"><span class="title"><a href="product-page.html">Donec Nunc</a></span>
                      <div class="clear"></div>
                      <span class="price">$87,34</span></div>
                    <div class="quantity">Quantity: <span>x1</span></div>
                    <div class="clear"></div>
                  </div>
                </li>
                <li>
                  <div class="cont">
                    <div class="imgb"><a href="product-page.html" class="fadeable"><img src="images/prodotto-6-6.jpg" width="54" height="54" alt="offer" /></a></div>
                    <div class="txtb gap"><span class="title"><a href="product-page.html">Urna Accumsan</a></span>
                      <div class="clear"></div>
                      <span class="price">$56,99</span></div>
                    <div class="quantity">Quantity: <span>x1</span></div>
                    <div class="clear"></div>
                  </div>
                </li>
              </ul>
              <div class="left">
                <div class="button-cart"><a href="cart-page.html">View Cart</a></div>
                <div class="clear"></div>
                <div class="button-cart dark"><a href="checkout-page.html">Checkout</a></div>
              </div>
              <div class="right totalbox"> <span><strong>Sub-Total:</strong> $144.33</span>
                <div class="clear"></div>
                <span><strong>VAT 15%:</strong> $21.65</span>
                <div class="clear"></div>
                <span><strong>Total:</strong> $165.98</span> </div>
            </div>
          </div>
        </div>
      </div>
      <!-- cart --> 
      <!-- feature -->
      <div class="feature"> <span class="heading"><img src="images/ico_man.png" width="15" height="15" alt="man" /><a href="account-page.html">Your Account</a></span> <span><a href="register-page.html" title="Create an Account">Create an Account</a> or <a href="login-page.html" title="Log-in">Log-in</a></span> </div>
      <div class="feature number"> <span class="heading"><img src="images/ico_phone.png" width="15" height="15" alt="phone" /> +39 234 3567</span> <span>Call Us <em>Monday - Saturday</em>: 8:30 am - 6:00 pm</span> </div>
      <!-- feature --> 
    </div>
    <!-- end header right -->
    <div class="clear"></div>
    <!-- start menu bar -->
    <div id="menu-bar"> 
      <!-- navigation -->
      <div id="navigation">
        <ul>
          <li><a href="index.html" title="" class="active">Home</a></li>
          <li><a href="category-page.html">Office</a></li>
          <li><a href="category-page.html" title="">Kitchen</a>
            <ul class="sub">
              <li class="space"></li>
              <li>
                <h3>INSIDE KITCHEN</h3>
                <ul>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Cabinets</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Taps &amp; Sinks</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Panels</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html"><span>Appliances</span></a>
                    <ul class="sub2">
                      <li class="space"></li>
                      <li><a href="category-page.html">Fridges</a></li>
                      <li><a href="category-page.html">Ovens</a></li>
                      <li><a href="category-page.html">Dishwashers</a></li>
                      <li><a href="category-page.html">Cookers</a></li>
                    </ul>
                  </li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Islands &amp; Trolleys</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Lighting</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Knobs</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Worktops</a></li>
                </ul>
              </li>
              <li>
                <h3>KITCHEN BRANDS</h3>
                <ul>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Nutid</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Fintorp</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Berloni</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Bygel</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="category-page.html" title="">Children</a></li>
          <li><a href="category-page.html" title="">Living Room</a></li>
          <li><a href="category-page.html" title="">Outdoor</a>
            <ul class="sub2">
              <li class="space"></li>
              <li><a href="category-page.html">Storage</a></li>
              <li><a href="category-page.html">Relax</a></li>
              <li><a href="category-page.html">Sunshields</a></li>
              <li><a href="category-page.html">Plant pots</a></li>
            </ul>
          </li>
          <li><a href="category-page.html" title="">Decoration</a></li>
        </ul>
      </div>
      <!-- navigation --> 
      <!-- search -->
      <div class="search">
        <form action="">
          <div>
            <input type="text" value="Search..." name="field" class="input" onfocus="if(this.value == 'Search...') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Search...'; }" />
          </div>
          <div>
            <input type="submit" value="" name="button" class="button" />
          </div>
        </form>
      </div>
      <!-- search --> 
    </div>
    <!-- end menu bar --> 
  </div>
</div>
<!-- end header --> 
<!-- start container -->
<div id="container"> 
  <!-- start showcase -->
  <div id="showcase" class="jcarousel">
    <div class="box"> 
      <!-- title -->
      <div class="title"><strong>I'm a Custom Widget Text:</strong><a href="#"> Suspe disse ut neque neque tincidunt ullamcorper.<span>&#8594;</span></a></div>
      <!-- title -->
      <div class="nivo-controlNav navbuttons"><a class="nivo-control" rel="0">1</a><a class="nivo-control" rel="1">2</a></div>
    </div>
    <!-- slider -->
    <div class="slider-wrapper-cycle">
      <ul id="mycarousel3" class="jcarousel-skin-slider">
        <li><a href="product-page.html" class="fadeable3"> <img src="images/01.jpg" alt=""/></a></li>
        <li><a href="product-page.html" class="fadeable3"><img src="images/02.jpg" alt=""/></a> </li>
        <li><a href="product-page.html" class="fadeable3"> <img src="images/03.jpg" alt=""/></a> </li>
        <li><a href="product-page.html" class="fadeable3"> <img src="images/04.jpg" alt="" /></a> </li>
      </ul>
      <div class="navbuttons"> <a> <span class="opacity-left"></span> </a> <a> <span class="opacity-right"></span> </a> </div>
      <div class="clear"></div>
    </div>
    <!-- slider --> 
  </div>
  <!-- end showcase --> 
  <!-- start box -->
  <div class="box"> 
    <!-- start leftcol -->
    <div id="leftcol"> 
      <!-- content -->
      <div class="content">
        <h1>Welcome to Linear Shop!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium nisi id sapien cursus eu <strong>lobortis libero imperdiet a liquam erat volutpat</strong>. Pellentesque lacus urna, pellentesque non vehicula ac..</p>
      </div>
      <!-- content --> 
      <!-- start gallery -->
      <div class="gallery">
        <h2 class="red">Featured Products</h2>
        <ul id="mycarousel2" class="jcarousel-skin-featured">
          <li> 
            <!-- top block -->
            <div class="top-block">
              <h3 class="nocufon"><a href="product-page.html" title="Auctor Lapsum">Auctor Lapsum</a></h3>
              <div class="imgb thumbnail-zoom"><a href="product-page.html" class="fadeable"><span class="light-background"> <span class="thumb-arrow">&#8594;</span> </span> <span class="lazy"><img src="images/prodotto-1.jpg" width="194" height="144" alt="product" /></span> </a></div>
              <p>Lorem ipsum dolor sit amet, arcu consectetur adipiscing elit ante non metus varius...</p>
              <span class="price">$246,45</span> </div>
            <!-- top block -->
            <div class="cart-button js-button"><a class="hov" href="cart-page.html"><span><img src="images/ico_cart_hover.png" alt="cart"/>ADD TO CART</span></a><a href="cart-page.html"><span><img src="images/ico_cart_default.png" alt="cart2"/>ADD TO CART</span></a></div>
            <div class="detail-button js-button"><a class="hov" href="product-page.html">DETAILS</a><a href="product-page.html">DETAILS</a></div>
          </li>
          <li> 
            <!-- top block -->
            <div class="top-block">
              <h3 class="nocufon"><a href="product-page.html" title="Phasellus Euismod">Phasellus Euismod</a></h3>
              <div class="imgb thumbnail-zoom"><a href="product-page.html" class="fadeable"><span class="light-background"> <span class="thumb-arrow">&#8594;</span> </span> <span class="lazy"><img src="images/prodotto-2.jpg" width="194" height="144" alt="product" /></span> </a></div>
              <p>Pellentesque lobortis, ipsum a bibendum consequat, diam et adipiscing hendrerit arcu vitae...</p>
              <span class="price">$141,99</span> </div>
            <!-- top block -->
            <div class="cart-button js-button"><a class="hov" href="cart-page.html"><span><img src="images/ico_cart_hover.png" alt="cart"/>ADD TO CART</span></a><a href="cart-page.html"><span><img src="images/ico_cart_default.png" alt="cart2"/>ADD TO CART</span></a></div>
            <div class="detail-button js-button"><a class="hov" href="product-page.html">DETAILS</a><a href="product-page.html">DETAILS</a></div>
          </li>
          <li> 
            <!-- top block -->
            <div class="top-block">
              <h3 class="nocufon"><a href="product-page.html" title="Donec Nunc">Donec Nunc</a></h3>
              <div class="imgb thumbnail-zoom"><a href="product-page.html" class="fadeable"><span class="light-background"> <span class="thumb-arrow">&#8594;</span> </span> <span class="lazy"><img src="images/prodotto-3.jpg" width="194" height="144" alt="product" /></span> </a></div>
              <p>Vehicula nec convallis eget, ut convallis sed massa nullam ac lacinia tellus laoreet eu...</p>
              <span class="price">$87,34</span> </div>
            <!-- top block -->
            <div class="cart-button js-button"><a class="hov" href="cart-page.html"><span><img src="images/ico_cart_hover.png" alt="cart"/>ADD TO CART</span></a><a href="cart-page.html"><span><img src="images/ico_cart_default.png" alt="cart2"/>ADD TO CART</span></a></div>
            <div class="detail-button js-button"><a class="hov" href="product-page.html">DETAILS</a><a href="product-page.html">DETAILS</a></div>
          </li>
          <li> 
            <!-- top block -->
            <div class="top-block">
              <h3 class="nocufon"><a href="product-page.html" title="Ullamcorper Ultrices">Ullamcorper Ultrices</a></h3>
              <div class="imgb thumbnail-zoom"><a href="product-page.html" class="fadeable"><span class="light-background"> <span class="thumb-arrow">&#8594;</span> </span> <span class="lazy"><img src="images/prodotto-4.jpg" width="194" height="144" alt="product" /></span> </a></div>
              <p>Vestibulum ante ipsum primis in faucibus orci luctus et neque sit amet auctor elementum...</p>
              <span class="price">$98,00</span> </div>
            <!-- top block -->
            <div class="cart-button js-button"><a class="hov" href="cart-page.html"><span><img src="images/ico_cart_hover.png" alt="cart"/>ADD TO CART</span></a><a href="cart-page.html"><span><img src="images/ico_cart_default.png" alt="cart2"/>ADD TO CART</span></a></div>
            <div class="detail-button js-button"><a class="hov" href="product-page.html">DETAILS</a><a href="product-page.html">DETAILS</a></div>
          </li>
        </ul>
        <span class="view right">Latest Products? <a href="category-page.html"><strong>View All</strong></a></span>
        <h2 class="red">Latest</h2>
        <ul>
          <li> 
            <!-- top block -->
            <div class="top-block">
              <h3 class="nocufon"><a href="product-page.html" title="Proin Ultricies">Proin Ultricies</a></h3>
              <div class="imgb thumbnail-zoom"><a href="product-page.html" class="fadeable"><span class="light-background"> <span class="thumb-arrow">&#8594;</span> </span> <span class="lazy"><img src="images/prodotto-7.jpg" width="194" height="144" alt="product" /><span class="sale-img">10%<span>OFF</span></span></span> </a></div>
              <p>Diam ut est convallis ac egestas enim auctor nulla fringilla ipsum  non facilisis ligula...</p>
              <span class="price sale">$321,12</span> <span class="price">$280,01</span> </div>
            <!-- top block -->
            <div class="cart-button js-button"><a class="hov" href="cart-page.html"><span><img src="images/ico_cart_hover.png" alt="cart"/>ADD TO CART</span></a><a href="cart-page.html"><span><img src="images/ico_cart_default.png" alt="cart2"/>ADD TO CART</span></a></div>
            <div class="detail-button js-button"><a class="hov" href="product-page.html">DETAILS</a><a href="product-page.html">DETAILS</a></div>
          </li>
          <li> 
            <!-- top block -->
            <div class="top-block">
              <h3 class="nocufon"><a href="product-page.html" title="Urna Accumsan">Urna Accumsan</a></h3>
              <div class="imgb thumbnail-zoom"><a href="product-page.html" class="fadeable"><span class="light-background"> <span class="thumb-arrow">&#8594;</span> </span> <span class="lazy"><img src="images/prodotto-5.jpg" width="194" height="144" alt="product" /></span> </a></div>
              <p>Vitae consectetur nisi auctor ac consectetur etiam eget ut dictum dui sagittis sit amet...</p>
              <span class="price">$56,99</span> </div>
            <!-- top block -->
            <div class="cart-button js-button"><a class="hov" href="cart-page.html"><span><img src="images/ico_cart_hover.png" alt="cart"/>ADD TO CART</span></a><a href="cart-page.html"><span><img src="images/ico_cart_default.png" alt="cart2"/>ADD TO CART</span></a></div>
            <div class="detail-button js-button"><a class="hov" href="product-page.html">DETAILS</a><a href="product-page.html">DETAILS</a></div>
          </li>
          <li> 
            <!-- top block -->
            <div class="top-block">
              <h3 class="nocufon"><a href="product-page.html" title="Praesent Blandit">Praesent Blandit</a></h3>
              <div class="imgb thumbnail-zoom"><a href="product-page.html" class="fadeable"><span class="light-background"> <span class="thumb-arrow">&#8594;</span> </span> <span class="lazy"><img src="images/prodotto-6.jpg" width="194" height="144" alt="product" /></span> </a></div>
              <p>Lobortis augue at dapibus enim pellentesque non aenean tempor lobortis sed vulputate eget...</p>
              <span class="price">$88,67</span> </div>
            <!-- top block -->
            <div class="cart-button js-button"><a class="hov" href="cart-page.html"><span><img src="images/ico_cart_hover.png" alt="cart"/>ADD TO CART</span></a><a href="cart-page.html"><span><img src="images/ico_cart_default.png" alt="cart2"/>ADD TO CART</span></a></div>
            <div class="detail-button js-button"><a class="hov" href="product-page.html">DETAILS</a><a href="product-page.html">DETAILS</a></div>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- end gallery --> 
      <!-- start feature2 -->
      <div class="feature2"> 
        <!-- feature left -->
        <div class="feature2-left"><a href="category-page.html"><img src="images/free-shipping.png" alt="banner"/></a></div>
        <!-- feature left --> 
        <!-- feature right -->
        <div class="feature2-right"><a href="typography.html"><img src="images/linear-offers.png" alt="banner2"/></a></div>
        <!-- feature right -->
        <div class="clear"></div>
      </div>
      <!-- end feature2 --> 
      <!-- start partner -->
      <div class="partner">
        <h3 class="red">Our Brands</h3>
        <ul id="mycarousel" class="jcarousel-skin-partner">
          <li><a href="category-page.html" title="Chanel" class="fadeable-inverse"><img src="images/logo_chanel.png" width="116" height="75" alt="chanel" /></a></li>
          <li><a href="category-page.html" title="Aigner" class="fadeable-inverse"><img src="images/logo_aigner.png" width="116" height="75" alt="aigner" /></a></li>
          <li><a href="category-page.html" title="GA" class="fadeable-inverse"><img src="images/logo_ga.png" width="116" height="75" alt="ga" /></a></li>
          <li><a href="category-page.html" title="Givenchy" class="fadeable-inverse"><img src="images/logo_givenchy.png" width="116" height="75" alt="givenchy" /></a></li>
          <li><a href="category-page.html" title="YSL" class="fadeable-inverse"><img src="images/logo_ysl.png" width="116" height="75" alt="ysl" /></a></li>
          <li><a href="category-page.html" title="Chanel" class="fadeable-inverse"><img src="images/logo_chanel.png" width="116" height="75" alt="chanel" /></a></li>
          <li><a href="category-page.html" title="Aigner" class="fadeable-inverse"><img src="images/logo_aigner.png" width="116" height="75" alt="aigner" /></a></li>
          <li><a href="category-page.html" title="GA" class="fadeable-inverse"><img src="images/logo_ga.png" width="116" height="75" alt="ga" /></a></li>
          <li><a href="category-page.html" title="Givenchy" class="fadeable-inverse"><img src="images/logo_givenchy.png" width="116" height="75" alt="givenchy" /></a></li>
          <li><a href="category-page.html" title="YSL" class="fadeable-inverse"><img src="images/logo_ysl.png" width="116" height="75" alt="ysl" /></a></li>
          <li><a href="category-page.html" title="Chanel" class="fadeable-inverse"><img src="images/logo_chanel.png" width="116" height="75" alt="chanel" /></a></li>
          <li><a href="category-page.html" title="Aigner" class="fadeable-inverse"><img src="images/logo_aigner.png" width="116" height="75" alt="aigner" /></a></li>
          <li><a href="category-page.html" title="GA" class="fadeable-inverse"><img src="images/logo_ga.png" width="116" height="75" alt="ga" /></a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- end partner --> 
    </div>
    <!-- end leftcol --> 
    <!-- start rightcol -->
    <div id="rightcol"> 
      <!-- start subnav -->
      <div class="subnav rightcol-block">
        <h4 class="red">Categories</h4>
        <ul class="sf-menu sf-vertical">
          <li><a class="subnav-link" href="category-page.html" title=""><strong>Kitchen &amp; Eating </strong> (13)</a></li>
          <li><a class="subnav-link" href="category-page.html" title=""><strong>Wall decoration</strong> (5)</a></li>
          <li><a class="subnav-link" href="category-page.html" title=""><strong>Children Room</strong> (2)</a></li>
          <li><a href="category-page.html" title="" class="subnav-link"><span><strong>Outdoor &amp; Garden</strong> (11)</span></a>
            <ul class="hoverable">
              <li><a href="category-page.html" title="">Relax</a></li>
              <li><a href="category-page.html" title="">Storage</a></li>
              <li><a href="category-page.html" title="">Plant pots</a></li>
            </ul>
          </li>
          <li><a class="subnav-link" href="category-page.html" title=""><strong>Living Room</strong> (0)</a></li>
          <li><a class="subnav-link" href="category-page.html" title=""><strong>Laundry &amp; Cleaning</strong> (3)</a></li>
          <li><a class="subnav-link" href="category-page.html" title=""><strong>Baby Textiles</strong> (2)</a></li>
          <li><a class="subnav-link" href="category-page.html" title=""><strong>Home Office</strong> (4)</a></li>
        </ul>
      </div>
      <!-- end subnav --> 
      <!-- start offer block -->
      <div class="offer common rightcol-block">
        <h4 class="red">Special Offers</h4>
        <ul>
          <li class="first">
            <div class="imgb"><a href="product-page.html" class="fadeable"><img src="images/prodotto-4-4.jpg" width="54" height="54" alt="offer" /></a></div>
            <div class="txtb"><span class="title"><a href="product-page.html">Ullamcorper Ultrices</a></span>
              <div class="clear"></div>
              <span class="price">$98,00</span></div>
            <div class="clear"></div>
          </li>
          <li>
            <div class="imgb"><a href="product-page.html" class="fadeable"><img src="images/prodotto-1-1.jpg" width="54" height="54" alt="offer" /></a></div>
            <div class="txtb"><span class="title"><a href="product-page.html">Auctor Lapsum</a></span>
              <div class="clear"></div>
              <span class="price">$246,45</span></div>
            <div class="clear"></div>
          </li>
          <li class="last">
            <div class="imgb"><a href="product-page.html" class="fadeable"><img src="images/prodotto-7-7.jpg" width="54" height="54" alt="offer" /></a></div>
            <div class="txtb"><span class="title"><a href="product-page.html">Proin Ultricies</a></span>
              <div class="clear"></div>
              <span class="price"><span>$321,12</span> $280,01</span></div>
            <div class="clear"></div>
          </li>
        </ul>
      </div>
      <!-- end offer block --> 
      <!-- banner -->
      <div class="banner common rightcol-block">
        <div class="imgb"><a href="http://themeforest.net/user/aldema"><img src="images/img_banner.jpg" width="142" height="134" alt="banner" /></a></div>
      </div>
      <!-- banner --> 
      <!-- widget -->
      <div class="widget rightcol-block">
        <h4 class="red">Widget Text</h4>
        <p>Pellentesque lacus urna, pellentesque <strong> vehicula adipiscing</strong> scelerisque a eros. Mauris id tortor et vitae velit auctor convallis nec non metus.</p>
      </div>
      <!-- widget --> 
    </div>
    <!-- end rightcol -->
    <div class="clear"></div>
  </div>
  <!-- end box --> 
  
  <!-- start category -->
  <div class="category">
    <div class="box"> 
      <!-- start common -->
      <div class="common2 first">
        <h3 class="red">Linear Theme</h3>
        <p>Integer interdum pretium leo, venenatis commodo male uada sit amet. Suspe disse ut neque neque. <strong>Aenean tincidunt</strong> ullamcorper nibh sit amet singur lopsem egestas. Fermentum erat <strong>condimentum</strong> ac. Sed liget Morbi por ta eget ferment.</p>
      </div>
      <!-- end common --> 
      <!-- start twitter -->
      <div class="common2 twitter">
        <h3 class="red">Twitter</h3>
        <ul id="twitter_update_list">
          <li></li>
        </ul>
        <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/WPNewsStation.json?callback=twitterCallback2&amp;count=2"></script> 
      </div>
      <!-- end twitter --> 
      <!-- start facebook -->
      <div class="common2 last facebook">
        <h3 class="red">Facebook</h3>
        <div class="fb-box"> 
          <script type="text/javascript" src="js/facebook-box.js"></script> 
        </div>
        <!-- the css needs an absolute path to work properly --> 
      </div>
      <!-- end facebook -->
      <div class="clear"></div>
    </div>
  </div>
  <!-- end category --> 
</div>
<!-- end container --> 
<!-- start footer -->
<div id="footer"> 
  <!-- start footer top -->
  <div id="footer-top">
    <div class="box"> 
      <!-- list -->
      <div class="list">
        <h5>Information</h5>
        <ul>
          <li><a href="about-page.html" title="">About Us</a></li>
          <li><a href="typography.html" title="">Delivery Information</a></li>
          <li><a href="typography.html" title="">Privacy Policy</a></li>
          <li><a href="typography.html" title="">Terms &amp; Conditions</a></li>
          <li><a href="typography.html" title="">Sitemap</a></li>
        </ul>
      </div>
      <!-- list --> 
      <!-- list -->
      <div class="list">
        <h5>Customer Service</h5>
        <ul>
          <li><a href="contact-page.html" title="">Contact Us</a></li>
          <li><a href="typography.html" title="">Returns</a></li>
          <li><a href="typography.html" title="">Site Map</a></li>
        </ul>
      </div>
      <!-- list --> 
      <!-- list -->
      <div class="list">
        <h5>Extras</h5>
        <ul>
          <li><a href="typography.html" title="">Brands</a></li>
          <li><a href="typography.html" title="">Gift Vouchers</a></li>
          <li><a href="typography.html" title="">Affiliates</a></li>
          <li><a href="typography.html" title="">Specials</a></li>
        </ul>
      </div>
      <!-- list --> 
      <!-- list -->
      <div class="list last">
        <h5>My Account</h5>
        <ul>
          <li><a href="account-page.html" title="">My Account</a></li>
          <li><a href="typography.html" title="">Order History</a></li>
          <li><a href="wishlist-page.html" title="">Wish List</a></li>
          <li><a href="typography.html" title="">Newsletter</a></li>
        </ul>
      </div>
      <!-- list -->
      <div class="clear"></div>
    </div>
  </div>
  <!-- end footer top --> 
  <!-- start footer bottom -->
  <div id="footer-bottom">
    <div class="box"> 
      <!-- common -->
      <div class="common2"> <span class="copyright">&copy; 2012 - Your Linear Store.</span> <span>Powered By <a href="http://themeforest.net/user/aldema">Aldema Studio</a></span> </div>
      <!-- common --> 
      <!-- common -->
      <div class="common2">
        <div class="payment">
          <ul>
            <li><img src="images/ico_mc.png" width="35" height="21" alt="mc" /></li>
            <li><img src="images/ico_visa.png" width="35" height="21" alt="visa" /></li>
            <li><img src="images/ico_amex.png" width="35" height="21" alt="amex" /></li>
            <li><img src="images/ico_pp.png" width="70" height="21" alt="pp" /></li>
          </ul>
        </div>
      </div>
      <!-- common -->
      <div class="clear"></div>
    </div>
  </div>
  <!-- end footer bottom --> 
</div>
<!-- end footer --> 
<!-- back to top link -->
<div id="top-container"> <a id="top-link"></a> </div>
<!-- end back to top link --> 
<script type="text/javascript" src="js/common_footer.js"></script>
</body>
</html>
