<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Linear Html - OpenCart Store Design</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE]>
<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 8]>
<link href="css/ie8.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/cufon/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon/open-sans-latin.js"></script>
<script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>

<body class="hideall">

<!-- Facebook code -->
<div id="fb-root"></div>
<script type="text/javascript">(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> 

<!-- end Facebook code --> 
<!-- start topbar -->
<div class="topbar">
  <div class="box"> 
    <!-- start topnav -->
    <div class="topnav">
      <ul class="lava">
        <li><a href="account-page.html" class="active">My Account</a></li>
        <li><a href="wishlist-page.html">Wish List ( <strong>0</strong> )</a></li>
        <li class="info"><a><span>Information</span></a>
          <ul>
            <li><a href="about-page.html">About Us</a></li>
            <li><a href="page-full-elements.html">Delivery Information</a></li>
            <li><a href="page-full-elements.html">Privacy Policy</a></li>
            <li><a href="page-full-elements.html">Terms and Conditions</a></li>
            <li><a href="contact-page.html" title="">Contact Us</a></li>
          </ul>
        </li>
        <li><a href="contact-page.html">Support</a></li>
        <li><a href="#">Buy Theme!</a></li>
      </ul>
    </div>
    <!-- end topnav --> 
    <!-- topbar right -->
    <div class="tb-right">
      <div class="language">
        <ul>
          <li class="active">EN <span><img src="images/flag_en.png" width="16" height="11" alt="en" /></span></li>
          <li><a href="#" title="">IT</a> <span><img src="images/flag_it.png" width="16" height="11" alt="en" /></span></li>
          <li><a href="#" title="">FR</a> <span><img src="images/flag_fr.png" width="16" height="11" alt="en" /></span></li>
        </ul>
      </div>
      <div class="currency">
        <ul>
          <li><strong>Currency:</strong></li>
          <li>
            <select id="default-usage-select">
              <option value="01">USD</option>
              <option value="02">EUR</option>
              <option value="03">GBP</option>
            </select>
          </li>
        </ul>
      </div>
    </div>
    <!-- topbar right --> 
  </div>
</div>
<!-- end topbar --> 
<!-- start header -->
<div id="header">
  <div class="box"> 
    <!-- logo -->
    <div id="logo"> <a href="index.html" title="Linear"><img src="images/logo.png" width="166" height="30" alt="Linear" /></a> </div>
    <!-- logo --> 
    <!-- start header right -->
    <div id="header-right"> 
      <!-- cart -->
      <div class="cart">
        <h6><a href="cart-page.html">Shopping Cart</a></h6>
        <div class="cart-box"><span class="item"><a>2 Item(s) - $165.98</a></span>
          <div id="cart-container">
            <div id="cart-content">
              <ul>
                <li>
                  <div class="cont">
                    <div class="imgb"><a href="product-page.html" class="fadeable"><img src="images/prodotto-3-3.jpg" width="54" height="54" alt="offer" /></a></div>
                    <div class="txtb gap"><span class="title"><a href="product-page.html">Donec Nunc</a></span>
                      <div class="clear"></div>
                      <span class="price">$87,34</span></div>
                    <div class="quantity">Quantity: <span>x1</span></div>
                    <div class="clear"></div>
                  </div>
                </li>
                <li>
                  <div class="cont">
                    <div class="imgb"><a href="product-page.html" class="fadeable"><img src="images/prodotto-6-6.jpg" width="54" height="54" alt="offer" /></a></div>
                    <div class="txtb gap"><span class="title"><a href="product-page.html">Urna Accumsan</a></span>
                      <div class="clear"></div>
                      <span class="price">$56,99</span></div>
                    <div class="quantity">Quantity: <span>x1</span></div>
                    <div class="clear"></div>
                  </div>
                </li>
              </ul>
              <div class="left">
                <div class="button-cart"><a href="cart-page.html">View Cart</a></div>
                <div class="clear"></div>
                <div class="button-cart dark"><a href="checkout-page.html">Checkout</a></div>
              </div>
              <div class="right totalbox"> <span><strong>Sub-Total:</strong> $144.33</span>
                <div class="clear"></div>
                <span><strong>VAT 15%:</strong> $21.65</span>
                <div class="clear"></div>
                <span><strong>Total:</strong> $165.98</span> </div>
            </div>
          </div>
        </div>
      </div>
      <!-- cart --> 
      <!-- feature -->
      <div class="feature"> <span class="heading"><img src="images/ico_man.png" width="15" height="15" alt="man" /><a href="account-page.html">Your Account</a></span> <span><a href="register-page.html" title="Create an Account">Create an Account</a> or <a href="login-page.html" title="Log-in">Log-in</a></span> </div>
      <div class="feature number"> <span class="heading"><img src="images/ico_phone.png" width="15" height="15" alt="phone" /> +39 234 3567</span> <span>Call Us <em>Monday - Saturday</em>: 8:30 am - 6:00 pm</span> </div>
      <!-- feature --> 
    </div>
    <!-- end header right -->
    <div class="clear"></div>
    <!-- start menu bar -->
    <div id="menu-bar"> 
      <!-- navigation -->
      <div id="navigation">
        <ul>
          <li><a href="index.html" title="">Home</a></li>
          <li><a href="category-page.html">Office</a></li>
          <li><a href="category-page.html" title="">Kitchen</a>
            <ul class="sub">
              <li class="space"></li>
              <li>
                <h3>INSIDE KITCHEN</h3>
                <ul>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Cabinets</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Taps &amp; Sinks</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Panels</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html"><span>Appliances</span></a>
                    <ul class="sub2">
                      <li class="space"></li>
                      <li><a href="category-page.html">Fridges</a></li>
                      <li><a href="category-page.html">Ovens</a></li>
                      <li><a href="category-page.html">Dishwashers</a></li>
                      <li><a href="category-page.html">Cookers</a></li>
                    </ul>
                  </li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Islands &amp; Trolleys</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Lighting</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Knobs</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Worktops</a></li>
                </ul>
              </li>
              <li>
                <h3>KITCHEN BRANDS</h3>
                <ul>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Nutid</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Fintorp</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Berloni</a></li>
                  <li><span class="bullet">&#8226;</span><a href="category-page.html">Bygel</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="category-page.html" title="" class="active">Children</a></li>
          <li><a href="category-page.html" title="">Living Room</a></li>
          <li><a href="category-page.html" title="">Outdoor</a>
            <ul class="sub2">
              <li class="space"></li>
              <li><a href="category-page.html">Storage</a></li>
              <li><a href="category-page.html">Relax</a></li>
              <li><a href="category-page.html">Sunshields</a></li>
              <li><a href="category-page.html">Plant pots</a></li>
            </ul>
          </li>
          <li><a href="category-page.html" title="">Decoration</a></li>
        </ul>
      </div>
      <!-- navigation --> 
      <!-- search -->
      <div class="search">
        <form action="">
          <div>
            <input type="text" value="Search..." name="field" class="input" onfocus="if(this.value == 'Search...') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Search...'; }" />
          </div>
          <div>
            <input type="submit" value="" name="button" class="button" />
          </div>
        </form>
      </div>
      <!-- search --> 
    </div>
    <!-- end menu bar --> 
  </div>
</div>
<!-- end header --> 
<!-- start container -->
<div id="container"> 
  <!-- start breadcrumb -->
  <div class="breadcrumb"> 
    <!-- start box -->
    <div class="box"> <span>You are here:</span>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="category-page.html">Children Room</a></li>
        <li><a href="product-page.html">Tincidunt Consequat</a></li>
      </ul>
    </div>
    <!-- end box -->
    <div class="clear"></div>
  </div>
  <!-- end breadcrumb --> 
  <!-- start box -->
  <div class="box"> 
    <!-- start leftcol -->
    <div id="leftcol"> 
      <!-- start deatilbox -->
      <div class="detail-block">
        <h1>Tincidunt Consequat</h1>
        <!-- left -->
        <div class="detail-left">
          <div class="imgb"><a href="images/prodotto-14big.jpg" class = "cloud-zoom"  id="zoom1" rel="tint: '#ffffff',tintOpacity:0.5 ,smoothMove:3, zoomWidth:409, zoomHeight:424, adjustY:-4, adjustX:37"><img src="images/prodotto-14-small.jpg" alt="combo1" width="292" height="242" /></a></div>
          <ul class="thumbnail">
            <li><a href="images/prodotto-14big.jpg" class='cloud-zoom-gallery fadeable' rel="useZoom: 'zoom1', smallImage: 'images/prodotto-14small.jpg'" title=""><img src="images/prodotto-14.jpg" alt="combo2" width="80" height="62" /></a></li>
            <li><a href="images/prodotto-14-5big.jpg" class='cloud-zoom-gallery fadeable' rel="useZoom: 'zoom1', smallImage: 'images/prodotto-14-5small.jpg'" title=""><img src="images/prodotto-14-5.jpg" alt="combo3" width="80" height="62" /></a></li>
            <li><a href="images/prodotto-14-3big.jpg" class='cloud-zoom-gallery fadeable' rel="useZoom: 'zoom1', smallImage: 'images/prodotto-14-3small.jpg'" title=""><img src="images/prodotto-14-3.jpg" alt="combo4" width="80" height="62" /></a></li>
            <li><a href="images/prodotto-14-1big.jpg" class='cloud-zoom-gallery fadeable' rel="useZoom: 'zoom1', smallImage: 'images/prodotto-14-1small.jpg'" title=""><img src="images/prodotto-14-1.jpg" alt="combo5" width="80" height="62" /></a></li>
            <li><a href="images/prodotto-14-7big.jpg" class='cloud-zoom-gallery fadeable' rel="useZoom: 'zoom1', smallImage: 'images/prodotto-14-7small.jpg'" title=""><img src="images/prodotto-14-7.jpg" alt="combo6" width="80" height="62" /></a></li>
            <li><a href="images/prodotto-14-8big.jpg" class='cloud-zoom-gallery fadeable' rel="useZoom: 'zoom1', smallImage: 'images/prodotto-14-8small.jpg'" title=""><img src="images/prodotto-14-8.jpg" alt="combo7" width="80" height="62" /></a></li>
            <li><a href="images/prodotto-14-2big.jpg" class='cloud-zoom-gallery fadeable' rel="useZoom: 'zoom1', smallImage: 'images/prodotto-14-2small.jpg'" title=""><img src="images/prodotto-14-2.jpg" alt="combo8" width="80" height="62" /></a></li>
            <li><a href="images/prodotto-14-6big.jpg" class='cloud-zoom-gallery fadeable' rel="useZoom: 'zoom1', smallImage: 'images/prodotto-14-6small.jpg'" title=""><img src="images/prodotto-14-6.jpg" alt="combo9" width="80" height="62" /></a></li>
          </ul>
        </div>
        <!-- left --> 
        <!-- right -->
        <div class="detail-right">
          <div class="price-col">
            <div><span>$331.00</span> Ex Tax: $280.35</div>
          </div>
          <ul class="listline">
            <li>Brand: <strong>Ikea</strong></li>
            <li>Product Code: <strong>347526</strong></li>
            <li>Reward Points: <strong>0</strong></li>
            <li>Availability: <strong>In Stock</strong></li>
            <li>Option 1: <strong>Lapsum Irem</strong></li>
            <li>Option 2: <strong>Piquel Suit</strong></li>
          </ul>
          <!-- quatcol -->
          <div class="quat-col">
            <form action="">
              <div>
                <label for="listmenu1">Qty</label>
              </div>
              <div class="listmenu-border left">
                <div>
                  <input type="text" name="listmenu" id="listmenu1" class="listmenu" value="1" onfocus="if(this.value == '1') { this.value = ''; }" onblur="if(this.value == '') { this.value = '1'; }" />
                </div>
              </div>
              <div class="pro-right mod"> <a href="cart-page.html" class="button-default cart"><span class="hover"><img src="images/ico_cart_default.png" alt="cart2"/>ADD TO CART</span><span><img src="images/ico_cart_default.png" alt="cart"/>ADD TO CART</span></a>
                <div class="clear"></div>
                <ul>
                  <li><a href="wishlist-page.html">Wishlist</a></li>
                  <li class="gap"><a href="#">Compare</a></li>
                </ul>
              </div>
              <div class="clear"></div>
            </form>
          </div>
          <!-- quatcol -->
          <div class="review-list">
            <div class="star"> <img src="images/ico_star_dark.png" alt="Star" width="15" height="15" /> <img src="images/ico_star_dark.png" alt="Star" width="15" height="15" /> <img src="images/ico_star_light.png" alt="Star" width="15" height="15" /> <img src="images/ico_star_light.png" alt="Star" width="15" height="15" /> <img src="images/ico_star_light.png" alt="Star" width="15" height="15" /> </div>
            <ul>
              <li><a>2/5</a> (2 reviews)</li>
              <li><a onclick="$('a[href=\'#tabs-2\']').trigger('click');">Write a review </a></li>
            </ul>
          </div>
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style "><script type="text/javascript" src="js/addthis-code.js"></script> </div>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fc4a84a117292c0"></script> 
          <!-- AddThis Button END --> 
        </div>
        <!-- right -->
        <div class="clear"></div>
      </div>
      <!-- end deatilbox --> 
      <!-- start more info -->
      <div class="more-info">
        <div class="heading2">
          <h2 class="red">More Information About Tincidunt Consequat</h2>
        </div>
        <!-- start tabs -->
        <div id="tabs">
          <ul>
            <li><span><a href="#tabs-1">Description</a></span></li>
            <li><span><a href="#tabs-2">Review</a></span></li>
          </ul>
          <div class="info-content">
            <div id="tabs-1">
              <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus <strong>gravida ante, ut pharetra massa </strong>metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. <strong>Ut posuere viverra nulla. Aliquam erat volutpat</strong>. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
            </div>
            <div id="tabs-2">
              <p>Vivamus quis consequat nibh. Etiam eget augue magna. Quisque mattis velit in magna tempus ut aliquet lorem feugiat. Pellentesque pulvinar eros mauris. Integer ac iaculis dui. Cras urna urna, tincidunt quis pellentesque vel, eleifend in nisi.</p>
              <ul>
                <li>
                  <div class="star rating"> <img src="images/ico_star_dark.png" alt="Star" width="15" height="15" /> <img src="images/ico_star_dark.png" alt="Star" width="15" height="15" /> <img src="images/ico_star_light.png" alt="Star" width="15" height="15" /> <img src="images/ico_star_light.png" alt="Star" width="15" height="15" /> <img src="images/ico_star_light.png" alt="Star" width="15" height="15" /> </div>
                   <h5 class="nocufon">Vestibulum Ante</h5>
                  <span class="date">27/05/2012</span>
                  <p>Nullam sit amet dolor id diam dignissim sagittis. Quisque pulvinar odio non orci ultrices euismod faucibus dui pellentesque. Duis iaculis dolor at lectus.</p>
                </li>
                <li>
                  <div class="star rating"> <img src="images/ico_star_dark.png" alt="Star" width="15" height="15" /> <img src="images/ico_star_dark.png" alt="Star" width="15" height="15" /> <img src="images/ico_star_light.png" alt="Star" width="15" height="15" /> <img src="images/ico_star_light.png" alt="Star" width="15" height="15" /> <img src="images/ico_star_light.png" alt="Star" width="15" height="15" /> </div>
                  <h5 class="nocufon">Aliquam Sodales</h5>
                  <span class="date">27/05/2012</span>
                  <p>Aliquam mattis, ante sed lobortis tincidunt, eros odio posuere nisi, nec laoreet mauris purus non sapien. Nunc scelerisque, turpis auctor iaculis</p>
                </li>
              </ul>
              <div class="heading2">
                <h2 class="small2">Add your review</h2>
              </div>
              <div class="review-form">
                <form method="post" action="#" id="review">
                  <div>
                    <label>First Name</label>
                  </div>
                  <div>
                    <input type="text" name="first-name"/>
                  </div>
                  <div>
                    <label>Your Review</label>
                  </div>
                  <div>
                    <textarea rows="10" cols="10"></textarea>
                  </div>
                  <div>
                    <label>Rating</label>
                  </div>
                  <div>
                    <input class="star required" type="radio" name="rating" value="1" />
                  </div>
                  <div>
                    <input class="star" type="radio" name="rating" value="2"/>
                  </div>
                  <div>
                    <input class="star" type="radio" name="rating" value="3" checked="checked"/>
                  </div>
                  <div>
                    <input class="star" type="radio" name="rating" value="4"/>
                  </div>
                  <div>
                    <input class="star" type="radio" name="rating" value="5" />
                  </div>
                  <div class="clear"></div>
                  <div>
                    <label>Enter the code</label>
                  </div>
                  <div class="left">
                    <input type="text" name="captcha"/>
                  </div>
                  <div class="left"><img src="images/captcha.jpg" alt="captcha"/></div>
                  <div class="clear"></div>
                  <div class="submit-review"> <a onclick="$(this).closest('form').submit();" class="sub-hover">CONTINUE</a> <a onclick="$(this).closest('form').submit();">CONTINUE</a> </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- end tabs --> 
        <!-- start procol -->
        <div class="pro-col">
          <div class="button2"><a href="#" title="Previous" class="prev"></a><a href="#" title="Next" class="next"></a></div>
          <div class="heading2">
            <h2 class="red">Related Products</h2>
          </div>
          <ul>
            <li><span class="imgb"><a class="fadeable" href="product-page.html"><span class="light-background"> <span class="thumb-arrow">&#8594;</span> </span><img src="images/prodotto-17.jpg" alt="related1" width="218" height="120" /></a></span> <a href="product-page.html">Class Aptent</a> <span class="price">$412,98</span></li>
            <li><span class="imgb"><a class="fadeable" href="product-page.html"><span class="light-background"> <span class="thumb-arrow">&#8594;</span> </span><img src="images/prodotto-15.jpg" alt="related2" width="218" height="120" /></a></span> <a href="product-page.html">Lacinia Sem </a> <span class="price">$7,63</span></li>
            <li><span class="imgb"><a class="fadeable" href="product-page.html"><span class="light-background"> <span class="thumb-arrow">&#8594;</span> </span><img src="images/prodotto-16.jpg" alt="related3" width="218" height="120" /></a></span> <a href="product-page.html">Fermentum Imperdiet</a> <span class="price">$25,31</span></li>
          </ul>
          <div class="clear"></div>
        </div>
        <!-- end procol --> 
      </div>
      <!-- end more info --> 
    </div>
    <!-- end leftcol --> 
    <!-- start rightcol -->
    <div id="rightcol"> 
      <!-- start subnav -->
      <div class="subnav rightcol-block">
        <h4 class="red">Categories</h4>
        <ul class="sf-menu sf-vertical">
          <li><a class="subnav-link" href="category-page.html" title=""><strong>Kitchen &amp; Eating </strong> (13)</a></li>
          <li><a class="subnav-link" href="category-page.html" title=""><strong>Wall decoration</strong> (5)</a></li>
          <li><a class="subnav-link" href="category-page.html" title=""><strong>Children Room</strong> (2)</a></li>
          <li><a href="category-page.html" title="" class="subnav-link"><span><strong>Outdoor &amp; Garden</strong> (11)</span></a>
            <ul class="hoverable">
              <li><a href="category-page.html" title="">Relax</a></li>
              <li><a href="category-page.html" title="">Storage</a></li>
              <li><a href="category-page.html" title="">Plant pots</a></li>
            </ul>
          </li>
          <li><a class="subnav-link" href="category-page.html" title=""><strong>Living Room</strong> (0)</a></li>
          <li><a class="subnav-link" href="category-page.html" title=""><strong>Laundry &amp; Cleaning</strong> (3)</a></li>
          <li><a class="subnav-link" href="category-page.html" title=""><strong>Baby Textiles</strong> (2)</a></li>
          <li><a class="subnav-link" href="category-page.html" title=""><strong>Home Office</strong> (4)</a></li>
        </ul>
      </div>
      <!-- end subnav --> 
      <!-- banner -->
      <div class="banner common rightcol-block">
        <div class="imgb"><a href="http://themeforest.net/user/aldema"><img src="images/img_banner.jpg" width="142" height="134" alt="banner" /></a></div>
      </div>
      <!-- banner --> 
      <!-- widget -->
      <div class="widget rightcol-block">
        <h4 class="red">Widget Text</h4>
        <p>Pellentesque lacus urna, pellentesque <strong> vehicula adipiscing</strong> scelerisque a eros. Mauris id tortor et vitae velit auctor convallis nec non metus.</p>
      </div>
      <!-- widget --> 
      <!-- start offer block -->
      <div class="offer common rightcol-block">
        <h4 class="red">Bestsellers</h4>
        <ul>
          <li class="first">
            <div class="imgb"><a href="product-page.html" class="fadeable"><img src="images/prodotto-4-4.jpg" width="54" height="54" alt="offer" /></a></div>
            <div class="txtb"><span class="title"><a href="product-page.html">Ullamcorper Ultrices</a></span>
              <div class="clear"></div>
              <span class="price">$98,00</span></div>
            <div class="clear"></div>
          </li>
          <li>
            <div class="imgb"><a href="product-page.html" class="fadeable"><img src="images/prodotto-1-1.jpg" width="54" height="54" alt="offer" /></a></div>
            <div class="txtb"><span class="title"><a href="product-page.html">Auctor Lapsum</a></span>
              <div class="clear"></div>
              <span class="price">$246,45</span></div>
            <div class="clear"></div>
          </li>
          <li class="last">
            <div class="imgb"><a href="product-page.html" class="fadeable"><img src="images/prodotto-7-7.jpg" width="54" height="54" alt="offer" /></a></div>
            <div class="txtb"><span class="title"><a href="product-page.html">Proin Ultricies</a></span>
              <div class="clear"></div>
              <span class="price"><span>$321,12</span> $280,01</span></div>
            <div class="clear"></div>
          </li>
        </ul>
      </div>
      <!-- end offer block --> 
    </div>
    <!-- end rightcol -->
    <div class="clear"></div>
  </div>
  <!-- end box --> 
  <!-- start category -->
  <div class="category">
    <div class="box"> 
      <!-- start common -->
      <div class="common2 first">
        <h3 class="red">Linear Theme</h3>
        <p>Integer interdum pretium leo, venenatis commodo male uada sit amet. Suspe disse ut neque neque. <strong>Aenean tincidunt</strong> ullamcorper nibh sit amet singur lopsem egestas. Fermentum erat <strong>condimentum</strong> ac. Sed liget Morbi por ta eget ferment.</p>
      </div>
      <!-- end common --> 
      <!-- start twitter -->
      <div class="common2 twitter">
        <h3 class="red">Twitter</h3>
        <ul id="twitter_update_list">
          <li></li>
        </ul>
        <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/WPNewsStation.json?callback=twitterCallback2&amp;count=2"></script> 
      </div>
      <!-- end twitter --> 
      <!-- start facebook -->
      <div class="common2 last facebook">
        <h3 class="red">Facebook</h3>
        <div class="fb-box"> 
          <script type="text/javascript" src="js/facebook-box.js"></script> 
        </div>
        <!-- the css needs an absolute path to work properly --> 
      </div>
      <!-- end facebook -->
      <div class="clear"></div>
    </div>
  </div>
  <!-- end category --> 
</div>
<!-- end container --> 
<!-- start footer -->
<div id="footer"> 
  <!-- start footer top -->
  <div id="footer-top">
    <div class="box"> 
      <!-- list -->
      <div class="list">
        <h5>Information</h5>
        <ul>
          <li><a href="about-page.html" title="">About Us</a></li>
          <li><a href="typography.html" title="">Delivery Information</a></li>
          <li><a href="typography.html" title="">Privacy Policy</a></li>
          <li><a href="typography.html" title="">Terms &amp; Conditions</a></li>
          <li><a href="typography.html" title="">Sitemap</a></li>
        </ul>
      </div>
      <!-- list --> 
      <!-- list -->
      <div class="list">
        <h5>Customer Service</h5>
        <ul>
          <li><a href="contact-page.html" title="">Contact Us</a></li>
          <li><a href="typography.html" title="">Returns</a></li>
          <li><a href="typography.html" title="">Site Map</a></li>
        </ul>
      </div>
      <!-- list --> 
      <!-- list -->
      <div class="list">
        <h5>Extras</h5>
        <ul>
          <li><a href="typography.html" title="">Brands</a></li>
          <li><a href="typography.html" title="">Gift Vouchers</a></li>
          <li><a href="typography.html" title="">Affiliates</a></li>
          <li><a href="typography.html" title="">Specials</a></li>
        </ul>
      </div>
      <!-- list --> 
      <!-- list -->
      <div class="list last">
        <h5>My Account</h5>
        <ul>
          <li><a href="account-page.html" title="">My Account</a></li>
          <li><a href="typography.html" title="">Order History</a></li>
          <li><a href="wishlist-page.html" title="">Wish List</a></li>
          <li><a href="typography.html" title="">Newsletter</a></li>
        </ul>
      </div>
      <!-- list -->
      <div class="clear"></div>
    </div>
  </div>
  <!-- end footer top --> 
  <!-- start footer bottom -->
  <div id="footer-bottom">
    <div class="box"> 
      <!-- common -->
      <div class="common2"> <span class="copyright">&copy; 2012 - Your Linear Store.</span> <span>Powered By <a href="http://themeforest.net/user/aldema">Aldema Studio</a></span> </div>
      <!-- common --> 
      <!-- common -->
      <div class="common2">
        <div class="payment">
          <ul>
            <li><img src="images/ico_mc.png" width="35" height="21" alt="mc" /></li>
            <li><img src="images/ico_visa.png" width="35" height="21" alt="visa" /></li>
            <li><img src="images/ico_amex.png" width="35" height="21" alt="amex" /></li>
            <li><img src="images/ico_pp.png" width="70" height="21" alt="pp" /></li>
          </ul>
        </div>
      </div>
      <!-- common -->
      <div class="clear"></div>
    </div>
  </div>
  <!-- end footer bottom --> 
</div>
<!-- end footer --> 
<!-- back to top link -->
<div id="top-container"> <a id="top-link"></a> </div>
<!-- end back to top link --> 
<script type="text/javascript" src="js/common_footer.js"></script>

</body>
</html>
