

.www_FlowSlider_com {height:350px; background:url(../img/bg.png);}
.www_FlowSlider_com-item {margin:20px 30px 0; width:214px; line-height:20px;}
.www_FlowSlider_com-item .img {float:left; line-height:0; margin:7px;}
.www_FlowSlider_com-item:hover .img {margin:0; border:7px solid #fff; box-shadow:0 0 30px #000; -moz-box-shadow:0 0 30px #000; -webkit-box-shadow:0 0 30px #000;}
.www_FlowSlider_com-item .text-1 {color:#000; font-size:15px; margin:7px 8px 0; font-family:tahoma; float:left; width:100%;}
.www_FlowSlider_com-item .text-2 {color:#555; font-size:13px; margin:0px 8px 0; font-family:tahoma; line-height:13px;}
.www_FlowSlider_com-item .by {display:inline-blocks; font-family:Georgia, serif; font-style:italic; color:#5a8d12; padding:0 4px 0 0;}



/*  Wrap slider into another DIV to position it and set the reference point for
    the absolute positioning of the blurring overlays. */
#slider-wrap {
    
    /* Position slider. */
    max-width:1400px;
    margin:200px auto;
    
    /* Set reference point for the overlays. */
    position:relative;
}


/*  Place two white blurring overlays in both ends of the slider to
    smoothly hide images as they slide outside the bounds. */
#blur-left, #blur-right {
    width:200px;
    height:350px;
    position:absolute;
    top:0;
    
    /* Pass mouse movement events to the slider. */
    pointer-events:none;
    
    /* Only for the left blur. */
    background:url(../img/blur-left.png);
    left:0;
}

#blur-right {
    /* Only for the right blur. */
    background:url(../img/blur-right.png);
    left:auto;
    right:0;
}

#slider {
    /* This is to hide overflowing items before JS and Flow Slider have started */
    overflow:hidden;
    height:350px;
}