
.book-bg {
    width:695px;
    height:225px;
    background:url(../img/bookshelf.png) -8px -48px;
    position:relative;
    margin:100px auto;
}

.shadow-left, .shadow-right {
     width:6px;
     height:127px;
     background:url(../img/bookshelf.png) -726px -89px;
     position:absolute;
     top:40px;
     left:34px;
}

.shadow-right {
     background:url(../img/bookshelf.png) -719px -89px;
     left:auto;
     right:35px;
}

.book-slider {
    width:625px;
    height:135px;
    float:left;
    margin:32px 0 0 35px;
}

.book {
    height:121px;
    width:79px;
    margin:13px 15px 0;
    background:url(../img/books.png);
}

.book-1 {background-position:-8px -10px;}
.book-2 {background-position:-87px -10px;}
.book-3 {background-position:-166px -10px;}
.book-4 {background-position:-245px -10px;}
.book-5 {background-position:-324px -10px;}
.book-6 {background-position:-403px -10px;}
.book-7 {background-position:-482px -10px;}
.book-8 {background-position:-561px -10px;}
.book-9 {background-position:-640px -10px;}
.book-10 {background-position:-719px -10px;}
.book-11 {background-position:-798px -10px;}
.book-12 {background-position:-880px -10px;}
